pipeline/pipeline.json
{
	"name": "pipeline",
	"properties": {
		"activities": [
			{
				"name": "Data flow",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "dataflow1",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "None",
					"cacheSinks": {
						"firstRowOnly": true
					}
				}
			},
			{
				"name": "Set maxSalary",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Data flow",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "MaxSalary",
					"value": {
						"value": "@string(activity('Data flow').output.runStatus.output.Sink.value[0].MaxSalary)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"MaxSalary": {
				"type": "String"
			}
		},
		"annotations": []
	}
}